// 颜色定义规范
$color-main = #00cacf
$color-text = #333
$color-disabled = #c5c2c2
$color-mask = rgba(0, 0, 0, .5)

//字体定义规范
$font-text-small = 10px
$font-text-normal = 12px
$font-text-large = 14px
$font-title-small = 16px
$font-title-normal = 18px
$font-title-large = 20px

//圆角定义规范
$radius-round = 100%
